input[type="button"] {
  width: 220px;
  height: 35px;
  font-size: 17px;
  border: solid thin white;
  border-radius: 3px;
  color: white;
  background-color: #10ac92;
}

.new-story-button {
  img {
    height: 15px;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
  }
  img:hover {
    cursor: pointer;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
