@import "color_variables";

input[type="button"],
button {
  padding: 2px 17px;
  font-size: 17px;
  border: solid thin transparent;
  border-radius: 3px;
  color: white;
  background-color: $base-color;
}

.delete-button {
  background-color: $red;
}
.new-story-button {
  img {
    height: 15px;
    transition: all 0.2s ease-in-out;
  }
  img:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
