@import "color_variables";

.user-progress-components,
.dashboard {
  display: block;
}

@media only screen and (min-width: 800px) {
  .dashboard {
    display: flex;
    justify-items: flex-start;
  }

  .project-sidemenu {
    border-right: $light-background 1px solid;
    margin-right: 28px;
  }
  .user-progress-components {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }
}
