@import "color_variables";

.nav-bar {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0 30px;
  .user-info,
  .icon {
    display: flex;
    flex-direction: row;
  }

  h1 {
    font-size: 30px;
    color: $main-text;
    margin: auto 0;
  }

  h2,
  a {
    color: $main-text;
    font-size: 20px;
  }

  img {
    height: 52px;
  }
  .bottom-nav {
    position: fixed;
    bottom: 50%;
  }
}

@media only screen and (min-width: 700px) {
  .nav-bar {
    width: 100%;
  }
}
