.greeting-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #10ac92;
  border-bottom: solid white thin;
  .icon {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    color: black;
    text-decoration: none;
  }
  h1 {
    color: white;
    margin: auto 0;
  }
  .hidden {
    display: none;
  }

  .session-options {
    position: absolute;
    display: default;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid black thin;
    right: 10px;
    width: 275px;
  }
  .session-options > * {
    padding: 10px 0;
  }
  .session-options > *:hover {
    background-color: #eef4f5;
    cursor: pointer;
  }
}
