.greeting-container {
  background-color: #10ac92;
  border-bottom: solid white thin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 110vw;
  .user-info,
  .icon {
    display: flex;
    flex-direction: row;
  }

  h1 {
    font-size: 40px;
    color: white;
    margin: auto 0;
  }

  h2,
  a {
    color: white;
    font-size: 25px;
  }

  img {
    height: 52px;
  }
  .bottom-nav {
    position: fixed;
    bottom: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .greeting-container {
    width: 500vw;
  }
}
