.project-bar {
  width: 100vw;
  background-color: white;
  h2 {
    font-size: 25px;
    padding: 12px;
  }
  .hidden {
    display: none;
  }
  .project-list {
    position: absolute;
    background-color: white;
    border: solid thin black;
    width: 200px;
  }
}

.welcome-msg-container {
  height: 100vh;
  width: 100vw;
  background-color: #eef4f5;
  color: #707070;
  .welcome-msg {
    padding-top: 100px;
    height: 250px;
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    h1 {
      font-size: 35px;
      font-weight: 300;
    }
  }
}
