.project-sidemenu {
  width: 100vw;
  height: 100vh;
  background-color: white;
  li {
    width: fit-content;
    padding-left: 15px;
  }

  li:hover,
  p:hover {
    color: #10ac92;
    cursor: pointer;
  }
}

.project-sidemenu > * {
  padding: 5px;
}

.project-list {
  background-color: white;
}
// 10ac92

@media only screen and (min-width: 600px) {
  .project-sidemenu {
    width: 25vw;
  }
}
