$darker-gray: #2f3337;
$dark-grey: #505356;
$grey: #787d85;
$blue: #407aa5;
$off-white: #f4f4f4;

.project-name {
  font-size: 30px;
  margin: 5px 0;
  h2 {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    button {
      width: fit-content;
      margin: 8px auto;
    }
  }
}

.iterations {
  display: flex;
  justify-content: center;
  h2 {
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
    background-color: $dark-grey;
    color: $off-white;
  }
  .story-list {
    overflow-y: auto;
    h3 {
      font-weight: bold;
      background-color: $off-white;
    }
    border-style: solid;
    border-color: black;
    border-width: thin;
    width: 250px;
    height: 75vh;
  }

  .story-component {
    padding: 15px 5px;
    border-bottom: solid;
    border-width: thin;
    p {
      display: flex;
      justify-content: space-between;
    }
  }
  .story-component:hover {
    cursor: pointer;
    background-color: lightblue;
  }
  .story-component:last-child {
    border: none;
  }
}
