$darker-gray: #2f3337;
$dark-grey: #505356;
$grey: #787d85;
$blue: #407aa5;
$off-white: #f4f4f4;
$main-green: #10ac92;
$light-green: #eef4f5;
// $light-grey: ;
$medium-grey: #707070;

.project-name {
  font-size: 30px;
  margin: 5px 0;
  h2 {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
}

.iterations {
  display: flex;
  justify-content: center;
  border: solid thin black;
  h2 {
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
    background-color: $light-green;
  }
  .story-list {
    overflow-y: auto;
    h3 {
      font-weight: bold;
    }
  }

  .story-component {
    padding: 15px 5px;
    margin: 10px;
    border: solid $medium-grey thin;
    background-color: white;
    height: 150px;
    .description {
      margin: 5px;
    }
    h4 {
      font-weight: 400;
      display: flex;
      justify-content: space-between;
    }
  }
  .story-component:hover {
    cursor: pointer;
    border-color: $main-green;
  }
}
