@import "color_variables";

.project-bar {
  width: 100%;
  h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.task-list {
  border-radius: 18px;
  padding: 10px 20px;
  margin: 10px 5px;
  width: 84%;
  max-height: 70vh;
  background-color: $light-background;
  overflow-y: auto;
  h2 {
    margin: 10px 0 15px;
  }
  button,
  p {
    margin: 5px 0;
  }
  .item {
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;

    h2 {
      color: $main-text;
    }

    p {
      color: $minor-text;
    }
  }
}

@media only screen and (min-width: 800px) {
  .task-list .row-of-4 {
    width: 44%;
    height: 70vh;
  }
  .task-list .row-of-2 {
    width: 21%;
  }
}
