.iterations {
  width: 100%;
  flex-wrap: wrap;
  .story-list {
    width: 100%;
    .comment-form {
      margin: 15px 0;
      display: flex;
      flex-direction: column;
      button {
        width: fit-content;
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .iterations {
    width: 620px;
    margin: 0 auto;
    .story-list {
      width: 300px;
    }
  }
}

@media only screen and (min-width: 850px) {
  .iterations {
    width: 90%;
    margin: 0 auto;
    .story-list {
      width: 20%;
      height: 70vh;
    }
  }
}
