$darker-gray: #2f3337;
$dark-grey: #505356;
$grey: #787d85;
$blue: #407aa5;
$off-white: #f4f4f4;
$main-green: #10ac92;
$light-green: #eef4f5;
$light-grey: #e9e9e9;
$medium-grey: #707070;

/* width */
::-webkit-scrollbar {
  width: 5px;
  padding: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-green;
  box-shadow: inset 0 0 10px 10px red;
  border: solid 3px transparent;
}
