.story-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  padding: 10px 2px;
  .input-label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
  }
  input {
    padding: 2px;
    width: 100%;
    box-sizing: border-box;
  }

  #description {
    padding: 5px 0;
    height: 80px;
  }

  .select-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid thin;
    box-sizing: border-box;
    margin: 3px auto;
    padding: 2px;
    select {
      border: none;
      margin: 0px 0 0 auto;
    }
  }

  button {
    width: 120px;
    margin: 5px auto;
  }
}
