.story-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  padding: 13px 2px;
  .form-header {
    margin: 10px 0 5px;
  }
  .new-story-header > * {
    margin-bottom: 10px;
    color: black;
  }
  .new-story-header {
    border-bottom: solid black thin;
    margin-bottom: 10px;
    h1 {
      font-size: 27px;
    }
    p {
      font-size: 18px;
      color: #707070;
    }
  }

  .radio-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .radio-item {
      padding: 2px;
      width: 45%;
      input {
        margin-right: 2px;
        width: fit-content;
      }
    }
  }
  .input-label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  input {
    padding: 2px;
    width: 100%;
    box-sizing: border-box;
  }

  #description {
    padding: 5px 0;
    height: 80px;
  }

  .select-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid thin;
    box-sizing: border-box;

    padding: 2px;
    select {
      border: none;
      margin: 0px 0 0 auto;
    }
  }

  button {
    width: 120px;
    margin: 5px auto;
  }
}
