.popup-background {
  z-index: 10;
  position: fixed;
  top: 120px;
  left: 0px;
  height: 90vh;
  width: 100vw;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  .popup-container {
    opacity: 1;
    border: black thin solid;
    background-color: white;
    padding: 20px;
    width: 325px;
    height: 450px;
    border-radius: 25px;
    font-size: 20px;
  }
}

.hidden {
  display: none;
}

button:hover {
  cursor: pointer;
}
